li.text-red {
    color: red;
}

.text-upper {
    text-transform: uppercase;
}

a {
    text-decoration: underline wavy;
}

p {
    text-indent: 100px;
    letter-spacing: 3px;
    line-height: 50px;
    word-spacing: 30px;
}
